footer.footer
	.hidden-text: h2 FOOTER
	.footer-logo
		figure
			img(src="assets/img/BrownAdvisory_logo_White_big.png" alt="brown-advisory logo footer")
	.footer-copyright
		span &copy; 2017 Brown Advisory Incorporated | All Rights Reserved