section.section-content
	section.workspace
		h1 {{shell.shell_header}}
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi quibusdam nihil deserunt, voluptas fuga, est quos architecto excepturi ullam, mollitia dignissimos hic eius illo consequatur facere corporis natus voluptatem temporibus.

	include footer